@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../assets/fonts/ACaslonPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Adobe Caslon Pro", Helvetica, Arial, sans-serif;
}

/*navbar*/
nav {
  position: sticky;
  top: 0;
  display: flex;
  max-width: 100%;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.nav-section {
  width: 33%;
}

.nav-section:first-child > img {
  display: none;
}

#heading {
  display: flex;
  justify-content: center;
}

.nav-section:has(.nav-links) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links > a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.nav-links > a:hover {
  text-decoration: underline;
}

#subscribe-button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #0787ca;
  border: none;
  border-radius: 2px;
}

#subscribe-button > a {
  color: white;
}

#nav-bottom {
  position: sticky;
  top: 76px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 12px;
  font-weight: bold;
  padding: 1rem 4rem;
  background-color: white;
}

hr {
  font-size: 1px;
  color: lightgray;
}

@media (max-width: 1024px) {
  .nav-section:first-child {
    display: flex;
    align-items: center;
  }

  .nav-section:first-child > img {
    display: block;
  }

  .nav-section:last-child,
  #nav-bottom,
  hr {
    display: none;
  }
}

/*header*/
header {
  display: flex;
  max-width: 100%;
  background-color: black;
  color: white;
}

#header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5rem;
  width: 50%;
}

#header-text > h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#header-text > h4 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1rem;
}

#header-text > h3:hover {
  text-decoration: underline;
}

#header-text > p {
  font-size: 21px;
  line-height: 1.33333em;
  font-weight: normal;
  text-align: center;
}

#header-text > p > strong {
  font-size: 21px;
}

#header-image {
  width: 50%;
}

#header-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  #header-text > h3 {
    font-size: 28px;
  }

  #header-text > p,
  #header-text > p > strong {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  #header-image,
  #header-text {
    width: 100%;
  }

  #header-text {
    background-color: black;
  }
}

/*articles*/
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem;
}

article h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

article h5 {
  font-style: italic;
  font-weight: lighter;
  font-size: 21px;
  line-height: 1.33333em;
}

#today-mix-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

#today-mix-articles img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grid-item-title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.grid-item-text {
  margin-top: 0.25rem;
  font-size: 17px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

#header-text .author,
.author {
  margin-top: 0.25rem;
  font-size: 15px;
  font-weight: bold;
}

#article-header {
  padding: 0 4rem;
}

@media (max-width: 1024px) {
  #today-mix-articles {
    display: flex;
    overflow-x: auto;
  }

  .grid-item {
    flex: 0 0 auto;
    width: 25%;
  }

  #article-header {
    padding: 0;
  }

  #article-header #header-image,
  #article-header #header-text {
    width: 100%;
  }

  #article-header header {
    display: flex;
    flex-direction: column-reverse;
  }

  #the-lede > #today-mix-articles {
    display: flex;
    flex-direction: column;
  }

  #the-lede .grid-item {
    width: 100%;
  }

  #the-lede a {
    display: flex;
    flex-direction: row-reverse;
  }

  #the-lede img {
    width: 10rem;
  }
}

@media (max-width: 1024px) {
  #the-lede a {
    display: flex;
    flex-direction: column;
  }

  #the-lede img {
    width: 100%;
  }
}

/*footer*/
footer {
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 0 4rem;
}

.footer-section {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(51, 51, 51);
}

#footer-logo {
  display: flex;
  justify-content: center;
}

.footer-section > div {
  width: 100%;
}

.footer-section h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: white;
}

.footer-titles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links > li > a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}

.footer-links > li > a:hover {
  text-decoration: underline;
}

#socials {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#copyright {
  font-size: 10px;
  width: 70%;
  color: rgb(153, 153, 153);
}

#social-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-columns > ul:nth-child(1) {
    order: 1;
    margin-bottom: 2rem;
  }

  .footer-columns > ul:nth-child(2) {
    order: 3;
  }

  .footer-columns > ul:nth-child(3) {
    order: 2;
  }

  .footer-columns > ul:nth-child(4) {
    order: 4;
  }

  #socials {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
